:host {
  display: flex;
  flex-direction: row;
  flex: 1;
}

app-main-content {
  flex: 1;
  min-width: 0;
}

@media (max-width: 768px) {
    :host {
        flex-direction: row;
    }

    app-sidebar {
        width: 0;
        overflow: visible;
        flex-shrink: 0;
    }
}