:host {
  display: flex;
  flex-direction: row;
  flex: 1;
}

app-main-content {
  flex: 1;
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
  }

  app-sidebar {
    width: 100%;
    height: auto;
  }
}