<header class="header">
  <div class="header-left">
    <span class="brand">J-J-PROYECT</span>
  </div>
  <div class="header-center">
    <span class="header-title">ERP · Panel de gestión</span>
  </div>
  <div class="header-right">
    <div class="avatar-wrapper">
      <button class="avatar-btn" (click)="toggleDropdown()" title="Mi perfil">
        @if (fotoUsuario) { <img [src]="fotoUsuario" [alt]="nombreUsuario" class="avatar-img" /> }
        @else { <div class="avatar-inicial">{{ inicialNombre }}</div> }
        <span class="avatar-nombre">{{ nombreUsuario }}</span>
      </button>
      @if (dropdownOpen) {
        <div class="avatar-dropdown">
          <button class="dropdown-item" (click)="navigateToPerfil()">Ir al perfil</button>
          <button class="dropdown-item dropdown-item--danger" (click)="logout()">Cerrar sesión</button>
        </div>
      }
    </div>
  </div>
</header>
